/* welcome.component.css */
.welcome-container {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2074b5;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1924c2;
  }
  